.barra_rodape {
    background-color: rgba(45.00000111758709, 62.00000010430813, 80.00000283122063, 1);
    width: 1500px;
    height: 179.54248046875px;
    position: absolute;
    left: 0px;
    top: 4561px;
}

.contato_background {
    background-color: rgba(241.18749797344208, 255, 254.17124927043915, 1);
    width: 1500px;
    height: 810px;
    position: absolute;
    left: -1px;
    top: 3751px;
}

.contato_corpo_completo {
    width: 995px;
    height: 794px;
    position: absolute;
    left: 247px;
    top: 3751px;
}

.contato_enviar_margens {
    width: 995px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 688px;
}

.contato_enviar_botao {
    background-color: rgba(94.2420794069767, 69.13776129484177, 103.06250810623169, 1);
    width: 995px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 15px;
}

.contato_enviar_texto {
    color: rgba(255, 255, 255, 1);
    width: 88px;
    height: 70px;
    position: absolute;
    left: 429px;
    top: 0px;
    font-family: Sumana;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.contato_formulario {
    width: 995px;
    height: 535px;
    position: absolute;
    left: 0px;
    top: 136px;
}

.contato_input_mensagem {
    background-color: rgba(255, 255, 255, 1);
    width: 995px;
    height: 248px;
    position: absolute;
    left: 0px;
    top: 287px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.contato_label_mensagem {
    color: rgba(0, 0, 0, 1);
    width: 101px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 264px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.contato_input_assunto {
    background-color: rgba(255, 255, 255, 1);
    width: 995px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 199px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.contato_label_assunto {
    color: rgba(0, 0, 0, 1);
    width: 76px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 176px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.contato_input_email {
    background-color: rgba(255, 255, 255, 1);
    width: 995px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 111px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.contato_label_email {
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 88px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.contato_input_nome {
    background-color: rgba(255, 255, 255, 1);
    width: 995px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 23px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.contato_label_nome {
    color: rgba(0, 0, 0, 1);
    width: 145px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.contato_titulo {
    color: rgba(0, 0, 0, 1);
    width: 177px;
    height: 94.25927734375px;
    position: absolute;
    left: 384px;
    top: 0px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.texto_footer {
    color: rgba(255, 255, 255, 1);
    width: 885px;
    height: 122px;
    position: absolute;
    left: 357px;
    top: 4604px;
    font-family: Vollkorn;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.noticia_background {
    background-color: rgba(45.00000111758709, 62.00000010430813, 80.00000283122063, 1);
    width: 1500px;
    height: 410px;
    position: absolute;
    left: -1px;
    top: 3341px;
}

.noticia_livro {
    color: rgba(255, 255, 255, 1);
    width: 395px;
    height: 90px;
    position: absolute;
    left: 906px;
    top: 3520px;
    font-family: Sunflower;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.noticia_livro:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    width: 395px;
    height: 90px;
    position: absolute;
    left: 906px;
    top: 3520px;
    font-family: Sunflower;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.noticia_mestrado {
    color: rgba(255, 255, 255, 1);
    width: 395px;
    height: 120px;
    position: absolute;
    left: 214px;
    top: 3513px;
    font-family: Sunflower;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.noticia_mestrado:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    width: 395px;
    height: 120px;
    position: absolute;
    left: 214px;
    top: 3513px;
    font-family: Sunflower;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.noticia_titulo {
    color: rgba(255, 255, 255, 1);
    width: 172px;
    height: 105px;
    position: absolute;
    left: 634px;
    top: 3355px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.portfolio_background {
    background-color: rgba(241.18749797344208, 255, 254.17124927043915, 1);
    width: 1500px;
    height: 810px;
    position: absolute;
    left: 0px;
    top: 2531px;
}

.portfolio_6 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 906px;
    top: 2982px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_5 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 565px;
    top: 2982px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_4 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 214px;
    top: 2982px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_3 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 906px;
    top: 2713px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_2 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 565px;
    top: 2713px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_1 {
    background-color: rgba(255, 255, 255, 1);
    width: 305px;
    height: 242px;
    position: absolute;
    left: 214px;
    top: 2713px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.portfolio_filtro_sites {
    color: rgba(0, 140.25000303983688, 30.855005532503128, 1);
    width: 52px;
    height: 23px;
    position: absolute;
    left: 342px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.portfolio_filtro_outros {
    color: rgba(0, 0, 0, 1);
    width: 73px;
    height: 23px;
    position: absolute;
    left: 933px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.portfolio_filtro_apps {
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: 23px;
    position: absolute;
    left: 772px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.portfolio_filtro_apis {
    color: rgba(0, 0, 0, 1);
    width: 44px;
    height: 23px;
    position: absolute;
    left: 668px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.portfolio_filtro_desktop {
    color: rgba(0, 0, 0, 1);
    width: 189px;
    height: 23px;
    position: absolute;
    left: 436px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.portfolio_titulo {
    color: rgba(0, 0, 0, 1);
    width: 206px;
    height: 94.260009765625px;
    position: absolute;
    left: 617px;
    top: 2531px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.servicos_background {
    background-color: rgba(45.00000111758709, 62.00000010430813, 80.00000283122063, 1);
    width: 1500px;
    height: 810px;
    position: absolute;
    left: 0px;
    top: 1721px;
}

.servicos_desktop {
    text-align: justify;
    text-justify: inter-word;
    color: rgba(255, 255, 255, 1);
    width: 274px;
    height: 156px;
    position: absolute;
    left: 253px;
    top: 2181px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.servicos_backend {
    color: rgba(255, 255, 255, 1);
    width: 309px;
    height: 156px;
    position: absolute;
    left: 919px;
    top: 1889px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.servicos_aplicativos {
    color: rgba(255, 255, 255, 1);
    width: 360px;
    height: 156px;
    position: absolute;
    left: 894px;
    top: 2204px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.servicos_sites {
    color: rgba(255, 255, 255, 1);
    width: 326px;
    height: 156px;
    position: absolute;
    left: 227px;
    top: 1889px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.servicos_titulo {
    color: rgba(255, 255, 255, 1);
    width: 176px;
    height: 105px;
    position: absolute;
    left: 632px;
    top: 1738px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.sobre_background {
    background-color: rgba(241.18749797344208, 255, 254.17124927043915, 1);
    width: 1500px;
    height: 810px;
    position: absolute;
    left: 0px;
    top: 911px;
}

.sobre_conteudo {
    width: 1330px;
    height: 584px;
    position: absolute;
    left: 83px;
    top: 976px;
}

.sobre_texto {
    color: rgba(0, 0, 0, 1);
    width: 993px;
    height: 500px;
    position: absolute;
    left: 337px;
    top: 84px;
    font-family: Sumana;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
}

.sobre_foto {
    width: 289px;
    height: 313px;
    position: absolute;
    left: 0px;
    top: 84px;
    background-image: url(images/foto2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre_nome {
    color: rgba(0, 0, 0, 1);
    width: 225px;
    height: 105px;
    position: absolute;
    left: 337px;
    top: 0px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.sobre_titulo {
    color: rgba(0, 0, 0, 1);
    width: 117px;
    height: 105px;
    position: absolute;
    left: 577px;
    top: -69px;
    font-family: Sumana;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.background_home {
    width: 1480px;
    height: 812px;
    position: absolute;
    left: 0px;
    top: 99px;
    background-image: url(images/fundohome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_home {
    width: 542px;
    height: 148px;
    position: absolute;
    left: 445px;
    top: 358px;
}

.wallpaper_home_interna {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(175.1354143023491, 195.49999594688416, 189.39062297344208, 1);
    width: 542px;
    height: 148px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.texto_wallpaper_home {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 1);
    width: 457px;
    height: 35px;
    position: absolute;
    left: 43px;
    top: 24px;
    font-family: TharLon;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.wallpaper_html {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 143px;
    top: 74px;
    background-image: url(images/html.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_php {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 243px;
    top: 74px;
    background-image: url(images/php.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_cplus {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 293px;
    top: 74px;
    background-image: url(images/cplusplus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_csharp {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 343px;
    top: 74px;
    background-image: url(images/csharp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_css {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 193px;
    top: 74px;
    background-image: url(images/css.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_sql {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 393px;
    top: 74px;
    background-image: url(images/sql.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper_js {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 93px;
    top: 74px;
    background-image: url(images/javascript.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_head {
    width: 4800px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.header_barra {
    background-color: rgba(45.00000111758709, 62.00000010430813, 80.00000283122063, 1);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.header_titulo {
    color: rgba(255, 255, 255, 1);
    width: 152px;
    height: 35px;
    position: absolute;
    left: 189px;
    top: 22px;
    font-family: TharLon;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.header_home {
    color: rgba(255, 255, 255, 1);
    width: 48px;
    height: 26px;
    position: absolute;
    left: 701px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_noticias {
    color: rgba(255, 255, 255, 1);
    width: 64px;
    height: 26px;
    position: absolute;
    left: 1005px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_servicos {
    color: rgba(255, 255, 255, 1);
    width: 69px;
    height: 26px;
    position: absolute;
    left: 833px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_portfolio {
    color: rgba(255, 255, 255, 1);
    width: 67px;
    height: 26px;
    position: absolute;
    left: 920px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_contato {
    color: rgba(255, 255, 255, 1);
    width: 63px;
    height: 26px;
    position: absolute;
    left: 1086px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_sobre {
    color: rgba(255, 255, 255, 1);
    width: 48px;
    height: 26px;
    position: absolute;
    left: 767px;
    top: 37px;
    font-family: TharLon;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.header_subtitulo {
    color: rgba(255, 255, 255, 1);
    width: 259px;
    height: 19px;
    position: absolute;
    left: 189px;
    top: 50px;
    font-family: Sedan;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.header_logo {
    width: 90px;
    height: 65px;
    position: absolute;
    left: 90px;
    top: 14px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.instagram {
    width: 23.71794891357422px;
    height: 25px;
    position: absolute;
    left: 1183px;
    top: 34px;
    background-image: url(images/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1225px;
    top: 34px;
    background-image: url(images/whatsapp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.linkedin {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1268px;
    top: 35px;
    background-image: url(images/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1311px;
    top: 35px;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.github {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1354px;
    top: 34px;
    background-image: url(images/github.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio_filtro_todos {
    color: rgba(0, 0, 0, 1);
    width: 59px;
    height: 23px;
    position: absolute;
    left: 1038px;
    top: 2652px;
    font-family: Wellfleet;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}